@import 'styles/variables';
@import 'styles/mixins';

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
  border-radius: 20px 50px 20px 50px;
  box-shadow: 12px 18px 16px -16px var(--color-secondary),
    -12px 18px 16px -16px var(--color-secondary),
    12px -10px 16px -16px var(--color-secondary),
    -12px -10px 16px -16px var(--color-secondary);
  margin-top: 0.5rem;
  margin-bottom: 3rem;

  @include tablet {
    flex-direction: row;
  }
}

.siteIdentity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  .siteName {
    margin: 0;
    font-size: 2.6rem;
    color: var(--color-tertiary);
    transition: all 0.2s ease-in-out;
    &:hover {
      filter: drop-shadow(0px 0px 10px var(--color-quaternary));
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  .profileImage {
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px var(--color-secondary));
  }
}

.navbar {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0rem 0rem 1rem 0rem;

    @include desktop {
      margin: 0rem 2rem;
    }

    li {
      font-size: 1.3rem;
      font-family: var(--titles-font);
      font-weight: 600;
      transition: all 0.2s ease-in-out;
      color: var(--color-tertiary);
      &:hover {
        filter: drop-shadow(0px 0px 8px var(--color-quaternary));
      }
      @include tablet {
        font-size: 1.8rem;
      }
    }
  }
}
