@import 'styles/variables';
@import 'styles/mixins';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0px -20px 16px -14px var(--color-secondary);
  margin-top: auto;
  margin-bottom: 0.5rem;

  @media screen and (min-width: 1120px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright {
    font-size: 1.2rem;
    margin: 0;
    margin-right: 1rem;
    align-self: center;
    color: var(--color-tertiary);
  }
}

.navbar {
  display: flex;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0rem 2rem;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      gap: 2rem;
    }

    li {
      font-size: 1.2rem;
      font-family: var(--titles-font);
      font-weight: 600;
      transition: all 0.2s ease-in-out;
      color: var(--color-tertiary);
      &:hover {
        filter: drop-shadow(0px 0px 8px var(--color-quaternary));
      }
    }
  }
}
