@import 'styles/mixins';
@import 'styles/variables';

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: var(--color-secondary);
  transform-origin: 0%;
  z-index: 10;
  border-bottom: 1px solid var(--color-primary);
}
