// Themes
//    Light
$color_primary: #f3f3f3;
$color_secondary: #3f51b5;
$color_tertiary: #3f51b5;
$color_quaternary: #75bfff;
// $color_tertiary: #1e2124;
$color_text: #030303;
$color_text_secondary: #7c4dff;
$color_post_card_info: rgba(255, 255, 255, 0.875);
$color_input_background: #ffffff;
$color_alternative_row: #cfcfcf;

//    Dark
$color_primary--dark: #1e2124;
// $color_secondary--dark: #e040fb;
$color_secondary--dark: #b388ff;
$color_tertiary--dark: #f3f3f3;
$color_quaternary--dark: #b388ff;
$color_text--dark: #ffffff;
$color_text_secondary--dark: #75bfff;
$color_post_card_info--dark: rgba(0, 0, 0, 0.65);
$color_input_background--dark: #232327;
$color_alternative_row--dark: #131317;

// Utils
$border_radius: 10px;
