@import './variables';
@import './mixins';

*,
* *,
html,
body {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--content-font);
  // background: #f3f3f3;
  // color: #030303;

  @include themify($themes) {
    background: themed('colorBackground');
    color: themed('colorText');
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--titles-font);
  margin-top: 0;
  @include themify($themes) {
    color: themed('colorAccent');
    font-size: 2.5rem;
  }
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: #ffffff;
//     background: #1e2124;
//   }
// }

ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}
