@import './variables';
@import './mixins';

*,
* *,
html,
body {
  box-sizing: border-box;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: var(--content-font);
  background-color: var(--color-primary);
  color: var(--color-text);
  transition: color, background-color 0.3s linear;
  min-height: 100vh;

  & * {
    transition: color, background-color 0.3s linear;
  }
}

pre {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--titles-font);
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
  width: fit-content;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

ul {
  padding: 0;
}

li {
  list-style: none;

  a {
    display: block;
  }
}

p {
  font-size: 1.5em;
  line-height: 1.8em;

  @include tablet {
    font-size: 1.1em;
    line-height: 1.5em;
  }
}

.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 3rem;

  @include desktop {
    flex-direction: row;
  }
}

.content-section {
  flex: 1 1 100%;
}

.theme {
  &-light {
    --color-primary: #{$color_primary};
    --color-secondary: #{$color_secondary};
    --color-tertiary: #{$color_tertiary};
    --color-quaternary: #{$color_quaternary};
    --color-text: #{$color_text};
    --color-text-secondary: #{$color_text_secondary};
    --color-post-card-info: #{$color_post_card_info};
    --color-input-background: #{$color_input_background};
  }
  &-dark {
    --color-primary: #{$color_primary--dark};
    --color-secondary: #{$color_secondary--dark};
    --color-tertiary: #{$color_tertiary--dark};
    --color-quaternary: #{$color_quaternary--dark};
    --color-text: #{$color_text--dark};
    --color-text-secondary: #{$color_text_secondary--dark};
    --color-post-card-info: #{$color_post_card_info--dark};
    --color-input-background: #{$color_input_background--dark};
  }
}
