@import './variables';
@import './mixins';

*,
* *,
html,
body {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--content-font);
  background-color: var(--color-primary);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--titles-font);
  margin-top: 0;
  font-size: 2.5rem;
  color: var(--color-secondary);
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: #ffffff;
//     background: #1e2124;
//   }
// }

ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

.theme {
  &-light {
    --color-primary: #{$color_primary};
    --color-secondary: #{$color_secondary};
    --color-tertiary: #{$color_tertiary};
    --color-text: #{$color_text};
  }
  &-dark {
    --color-primary: #{$color_primary--dark};
    --color-secondary: #{$color_secondary--dark};
    --color-tertiary: #{$color_tertiary--dark};
    --color-text: #{$color_text--dark};
  }
}
