@import 'styles/variables';

.postCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  width: 100%;
  box-shadow: 3px 3px 6px var(--color-secondary);

  .postDate {
    color: var(--color-text-secondary);
    font-weight: 600;
    p {
      margin: 0;
    }
  }
}
